
#ctf-logo{
	height:50px;
}
DIV#bs-example-navbar-collapse-1.navbar-collapse.collapse.in{
	overflow:hidden;

}
.changeNav{
	background:#fff;
	color:#333;
}
.changeNavElem {
	font-weight: bold;
	color:black;
	font-size:15px;
	border:2px solid transparent;
	text-decoration:none;
	margin-top: 2px;
	

}
.changeNavElem:hover{
	border:2px solid #333;
	background: rgb(60, 100, 178) !important;
	color: #fff;
}

nav.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
	background:crimson;
}
.navbar-nav{
    overflow:hidden;
}
.nav.navbar-nav a.navelem{
	font-weight: bold;
	color:white;
	font-size:15px;
	border:2px solid transparent;
	text-decoration:none;
	margin-top: 2px;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;

}
.nav.navbar-nav a.navelem:hover,
.nav.navbar-nav a.navelem:focus,
.nav.navbar-nav a.navelem:active{
	background:rgba(60,100,178,1);
}

.navicons{
	background:none;
	margin:5px;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;

}

FORM.navbar-form{
	margin-top:15px;
	padding-left:35px;
}
INPUT.form-control{
	border:2px solid transparent;
	border-radius:0;
}
INPUT.form-control:focus
{

	border:2px solid rgb(60,100,178);
	box-shadow:2px 3px 8px rgba(255,255,255,0.3);	
}
.navbar-brand{
	margin-top:-10px;
}

/*.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }
*/
  .icon-bar {
    width: 22px;
    transition: all 0.1s;
  }
  .top-bar-anim {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar-anim {
    opacity: 0;
  }
  .bottom-bar-anim {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
/*}*/


/** media queries **/

@media all and (max-width: 599px) and (min-width: 320px) {
nav.navbar{
	background:none;
}
.icon-bar{
	background:#000;
	height:10px !important;
	width:50px !important;
}

UL.nav.navbar-nav.navbar-right{
	background:#000 !important;
}
}
@media all and (min-width: 960px) {
nav.navbar{
    background:#000;

}
.icon-bar{
	background:#fff;
}
}