.topMargin{
  margin-top: 30px;
}
.bucketBox{
  float: left;
  display: inline-block;
  width:210px;
  height:210px;
  margin: 0px;
  padding: 0px;
}

.imgSize{
  height: 300px;
  width: 300px;
}

.i1:hover, .i2:hover, .i3:hover, .i4:hover, .i5:hover,.i6:hover, .i7:hover, .i8:hover, .i9:hover, .i10:hover,.i11:hover, .i12:hover, .i13:hover, .i14:hover, .i15:hover{
  width:200px;
  height:200px;
  margin: 5px;
  padding: 45px;
  background:url(images/patterns/blue.jpg);
  
  -moz-transition:all 0.4s;
  -webkit-transition:all 0.4s;
  transition:all 0.4s;
  


}