<div class="col-md-12 col-xs-12 paddingReset">

<div class="section" id="section3" style="background:url(images/patterns/photography.png)">
		<div class="col-md-4 col-xs-4">
		<div class="left-line"></div>
		</div>

		<div class="col-md-4  col-xs-12 text-center">
		<div class="sectionTitle text-center">TECH BLOG</div>
		</div>
		<div class='col-md-4  col-xs-4'>
		<div class="left-line"></div>
		</div>
			
		<div class="col-md-12 col-xs-12" ng-controller="blogController">
			<div id="grid" masonry>
				<div id="posts">
					<div class="post masonry-brick" ng-repeat="post in posts">
					<a href="#/post">
						<img src="images/yellow.jpg"/>
						<div class="date">{{post.postdate}}</div>
						<div class="title">{{post.title}}</div>
						<div class="blogContent">
							<p>{{post.desc}}
							</p>
						</div>
					</a>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-xs-12 pull-right">
					<a href="#/allposts" class="seeall title black">SEE ALL BLOG POSTS <i class="fa black fa-angle-right"></i><i class="fa black fa-angle-right"></i></a>
					</div>
				</div>
	
		</div>

	</div>
</div>
<script>
	$(window).scroll(function(){
		if( $(window).scrollTop() >= 560 )
			$("#posts").delay(200).animate({'marginTop':"0",'opacity':"1"},0);
	
	});
	
</script>