<style>
.club{
	opacity:0;
	margin-top:100px;
}

</style>
<div class="header" style="background:url(images/patterns/blue.jpg)">
			<!-- <h2>PROJECTS</h2> -->
		</div>

<div class="overlay"><h2 class="hover-up">CLUBS</h2></div>

<div class="clubContainer container paddingReset"style="
	background:url(images/patterns/sativa.png) !important;" id="clubs">
	
	<div class="col-md-12 col-xs-12 hover-up">
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<!--
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div> 
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<div class="club">
				<div class="clubCircle"><img src="images/blogPic2.png" class="front" />
					<img src="images/yellow.jpg" class="back" />
				</div>
				<div class="clubTitle">Rotaract Club of CEG</div>
				<div class="clubDesc">
					<p>Lots of interesting stuff about this club. Some more lorem ipsum and some more..
						Here too! And here. And so on. But stop. This has to end :P We're done.
					</p>
					<p><a><i class="fa fa-asterisk"></i> rotaractclubceg.com</a></p>
				</div>
			</div>
		</div> -->
	</div>

</div>
<script>
$(".chevron").css({'background':"url(images/patterns/blue.jpg"});
$(".overlay").css({'height':"160px",'margin-top':'-50px'});
$(".overlay h2").css({'padding-top':"80px"});	

</script>