    	<div class="container section section1" id="section1" style="
		background:url(images/patterns/sativa.png);
	">
			<section class="main col-md-12 col-xs-12" style="z-index:99999">

				<div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow">
<!-- 					<img class="ri-loading-image" src="images/loading.gif"/>
 -->					<ul>
						<li><a href="#"><img src="images/medium/42.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/43.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/44.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/45.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/46.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/47.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/48.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/49.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/50.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/51.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/52.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/53.jpg"/></a></li>
						<li><a href="#"><img src="images/medium/54.jpg"/></a></li>
					</ul>
				</div>
				
				
			</section>
		
        </div>
    	<script type="text/javascript">	
			$(function() {
			
				$( '#ri-grid' ).gridrotator( {
					w320 : {
						rows : 3,
						columns : 4
					},
					w240 : {
						rows : 3,
						columns : 3
					}
				} );
			
			});
		</script>
    