<div class="container paddingReset"style="background:url(images/patterns/sativa.png);">

<div class="header" style="background:url(images/patterns/congruent_outline.png)">
			<!-- <h2>PROJECTS</h2> -->
		</div>
	<div class="overlay1"><h2 class="hover-up">TECH POST</h2></div>		

	<div class="col-md-8 col-md-push-2 col-xs-12 ">
		<div class="singlePost">
			<!-- <div class="authorCircle">
				<img src="images/blogPic2.png">
				<i class="fa fa-code"></i>
			</div> -->
			<h3 class="postTitle caps raleway">a nice long title for a tech blog post that overflows to the next line</h3>
			<h5 class="authorname">Venkatakrishnan Ranganathan</h5>
			<h5 class="authorname">25<sup> th</sup> May, 2015</h5>
			
			
			<div class="social-likes">
					<div class="facebook" title="Share link on Facebook">Facebook</div>
					<div class="twitter" title="Share link on Twitter">Twitter</div>
					<div class="plusone" title="Share link on Google+">Google+</div>
					<div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
			</div>
			<ul class="tags">
				<li class="tag"><i class="fa fa-tag"></i> tech</li>
				<li class="tag"><i class="fa fa-tag"></i> os</li>
				<li class="tag"><i class="fa fa-tag"></i> android</li>
			</ul>
			<div class="postDesc">

				<p>Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
				</p>
				<p>Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
				</p>
				<img src="images/blogPic2.png">
				<p>Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
				</p>
				<ul>
					<li>Lalalala</li>
					<li>Lalalala</li>
					<li>Lalalala</li>
					<li>Lalalala</li>
					<li>Lalalala</li>
				</ul>
				<p>Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
				</p>
				<p>Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
				</p>
				<p>Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
					Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here Lots of lorem ipsum going on here 
				</p>

			</div>
		</div>
					<a class="seeall title" href="#/allposts">SEE ALL POSTS <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>

	</div>
</div>

<script src="js/social-likes.min.js"></script>
<script>
$(".chevron").css({'background':"url(images/patterns/congruent_outline.png",'background-position':"-20px 200px"});
                $(".overlay1").css({'height':"160px",'margin-top':'-50px'});
                $(".overlay1 h2").css({'padding-top':"80px"});  
$(window).scrollTop(0);


</script>