<div class="col-md-12 col-xs-12 paddingReset">
		<div class="section" id="section5" data-stellar-ratio="0.5">
			<!-- <img src="images/ceg.jpg" id="landing" data-stellar-ratio="1.5"/> -->
			<div class="col-md-4 col-xs-4">
			<div class="left-line"></div>
			</div>

			<div class="col-md-4 col-xs-12 text-center">
			<div class="sectionTitle text-center">SYMPOSIUMS</div>
			</div>
			<div class='col-md-4  col-xs-4'>
			<div class="left-line"></div>
			</div>
			<div class="col-md-12">
				<div class="bigTitle"  style="position:fixed" data-stellar-ratio="0.5">SYMPOSIUMS</div>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="sympoItem">
					<div class="col-md-4 col-md-push-1">
						<div class="sympoImg"><img src="images/blogPic2.png"/></div>
					</div>
					<div class="col-md-6 col-md-push-1">
						<div class="sympoBox">
							<h3><i class="pull-left fa fa-star fa-fw"></i>
								<span  class="title caps roboto">PROJECT TITLE WHICH IS PRETTY LONGISH and overflows too</span>
							</h3>
							<p>hey this is a project Box!</p>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
